:root {
    --y: #fcba03;
    --b: #2e2e2e;
}

body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: center;
    font-size: 40px;
}

.container {
    display: flex;
    flex-direction: column;
}

.item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

input[type=button] {
    height: 30px;
}

input[type=text] {
    height: 30px;
}

.btn {
    font-weight: bold;
    background-color: var(--y);
    text-align: center;
    margin-top: 10px;
    padding-top: 15px;
    height: 30px;
    width: 100%;
    text-decoration: none;
    color: var(--b);
}